<div class="odds-comparison">
    <div class="odds-type" data-odds-type="norm">Market Implied</div>
    <div class="odds-type" data-odds-type="unnorm">Raw Probability</div>
    
    <div class="odds-grid">
        <div style="text-align: left">
            <div data-odds-type="norm" class="odds-prob-val">{imp1_str}</div>
            <div data-odds-type="unnorm" class="odds-prob-val">{unnorm1_str}</div>
            <div class="odds-raw-val">{o1_str}</div>
        </div>
        <div class="odds-center-label">{odds_label}</div>
        <div style="text-align: right">
            <div data-odds-type="norm" class="odds-prob-val">{imp2_str}</div>
            <div data-odds-type="unnorm" class="odds-prob-val">{unnorm2_str}</div>
            <div class="odds-raw-val">{o2_str}</div>
        </div>
    </div>
</div>
